$blue: #87a2c3; //primary
$indigo: #916fc8;
$purple: #5d3b9c;
$pink: #ab4578;
$red: #ff2763; // danger
$orange: #ffa053;
$yellow: #252045; // warning
$green: #4fe49e; //success
$teal: #9fffe2;
$cyan: #2dbfcf; //info
$gray-600: #1b0e60; //secondary
$gray-100: #252045; // light
$gray-900: #1b0e60; // dark
